---
permalink: "{{ day.date | slug }}/index.html"
---
<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css"
        href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,700,700i,200i,400i">
    <style>
        body {
            font-family: 'Source Sans Pro', Tahoma, Arial, sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            letter-spacing: 0px;
            text-transform: none;
            line-height: 1.4em;
            color: #15171a;
        }

        h1 {
            font-size: 32px;
            letter-spacing: 3px;
            text-align: center;
        }

        .intro {
            padding-left: 70px;
            padding-right: 70px;
        }

        .incident {
            display: inline;
            float: left;
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 20px;
            font-size: 16px;
            letter-spacing: 0px;
            text-transform: none;
            line-height: 1.4em;
        }

        .icao {
            text-transform: uppercase
        }

        .ra {
            text-transform: uppercase;
            font-weight: bold
        }

        .log {
            height: 100px;
            overflow: auto;
            border: 1px solid black;
        }

        .logentry {
            font-size: 9pt;
            font-family: monospace;
            line-height: 1em;
       }
    </style>
    <script
			  src="https://code.jquery.com/jquery-3.6.0.min.js"
			  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			  crossorigin="anonymous"></script>
    <title>Resolution advisories for {{ day.date }}</title>
</head>
<script>
    class Animator {
      constructor() {
      }

      start(id, frame0, frame1) {
        this.selector = id;
        this.counter = 0;
        this.frames = [frame0, frame1];
        const self = this;
        function toggle() {
          self.counter += 1;
          const f = self.frames[self.counter % 2];
          $(id).attr("src", () => { return f; });
          self.timer = setTimeout(toggle, 1000);
        };
        this.timer = setTimeout(toggle, 1000);
      }

      stop() {
        clearTimeout(this.timer);
        const self = this;
        $(this.selector).attr("src", () => { return self.frames[0]; });
      }
    }

    let animator = new Animator();
</script>
<body>
    <h1>TCAS RAs for {{ day.date }} UTC</h1>
    <div class="intro">
        <p>
            This data comes from ADS-B Exchange: <a
                href="https://globe.adsbexchange.com/globe_history/2021/04/01/acas/acas.csv">https://globe.adsbexchange.com/globe_history/2021/04/01/acas/acas.csv</a>
        </p>
        <p>
            Coverage is anywhere in the world with receivers that particpate in the ADS-B Exchange network. <a
                href="https://map.adsbexchange.com/mlat-map/">(See a map of the network.)</a>
        </p>
        <p>Some notes: Sometimes messages are missed. Sometimes messages contain bad ICAOs. Sometimes messages come from
            an aircraft
            with an unknown position, in which case the map won't be correct (for now, it shows an empty map south of
            Long Island in the United States). Messages are de-duplicated, so only the first message of a given type is
            shown.</p>
    </div>
    {% for incident in day.incidents -%}
    <div class="incident">
        <p>When: {{ incident.ts_start }} ({{ incident.duration_s }} secs)<br>
            Involving: <span class="icao">{{ incident.icaos | join(", ")}}</span><br>
            <a href="{{ incident.id }}.html">Permalink</a></p>
        <div class="log">
            <table>
                {%- for msg in incident.msgs -%}
                <tr class="logentry">
                    <td valign="top">{{ msg.ts.slice(11, 21) }}</td>
                    <td class="icao" valign="top">{{ msg.icao }}: </td>
                    <td valign="top">{{ msg.msg }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <p>
            {%- if incident.position -%}
            <a href="{{ incident.adsbx_url }}" target="_blank">
                {# {% image "images/" + incident.screenshot, "photo of my cat", 0%} #}
                <img class="anim" id="thumb-{{incident.id}}" src="images/thumbs/{{incident.screenshot_base}}-1.png.webp">
                <script>
                    $("#thumb-{{incident.id}}").hover(
                      () => { animator.start("#thumb-{{incident.id}}", "images/thumbs/{{incident.screenshot_base}}-1.png.webp", "images/thumbs/{{incident.screenshot_base}}-0.png.webp"); },
                      () => { animator.stop(); });
                </script>
            </a>
            {%- else -%}
        <div style="padding-left: 4em; padding-right: 4em; padding-top: 4em; width: 300px;"><a href="{{i.adsbx_url}}"
                target="_blank">Unknown position. But hey, you can always click on this and see if
                you get lucky.</a></div>
        {%- endif -%}
        </p>
    </div>
    {%- endfor -%}
</body>

</html>