---
pagination:
    data: day.incidents
    size: 1
    alias: incident
permalink: "{{ incident.date | slug }}/{{ incident.id }}.html"
---

<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css"
        href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,700,700i,200i,400i">
    <style>
        body {
            font-family: 'Source Sans Pro', Tahoma, Arial, sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            letter-spacing: 0px;
            text-transform: none;
            line-height: 1.4em;
            color: #15171a;
        }

        h1 {
            font-size: 32px;
            letter-spacing: 3px;
            text-align: center;
        }

        .icao {
            text-transform: uppercase
        }

        .ra {
            text-transform: uppercase;
            font-weight: bold
        }

        .log {
            height: 100px;
            overflow: auto;
            border: 1px solid black;
        }

        .logentry {
            font-size: 9pt;
            font-family: monospace;
        }
    </style>
    <title>TCAS RA for {{incident.icaos}} on {{ incident.date }}</title>
</head>

<body>
    <h1>TCAS RA for {{incident.icaos}} on {{ incident.date }} UTC</h1>
    <div class="incident">
        <p>When: {{incident.ts_start}} ({{incident.duration_s}} secs)<br>
            Involving: <span class="icao">{{incident.icaos | join(", ")}}</span></p>
        <div class="log">
            <table>
                {% for msg in incident.msgs %}
                <tr class="logentry">
                    <td valign="top">{{msg.ts.slice(11, 8)}}</td>
                    <td class="icao" valign="top">{{msg.icao}}: </td>
                    <td valign="top">{{msg.msg}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <p>
            {% if incident.position %}
            <a href="{{incident.adsbx_url}}" target="_blank">
                <img src="images/{{incident.screenshot_base}}-1.png.webp">

                {# {% image "images/" + incident.screenshot, "photo of my cat", 1 %} #}
            </a>
            {% else %}
            <div style="padding-left: 4em; padding-right: 4em; padding-top: 4em; width: 300px;"><a href="{{incident.adsbx_url}}"
                target="_blank">Unknown position. But hey, you can always click on this and see if
                you get lucky.</a></div>
            {% endif %}
        </p>
    </div>
</body>

</html>